@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

body {
    width: 1400px;
    font-family: 'Montserrat', sans-serif;
    color: #533738;

}

.link {
    text-decoration: none;
}

.item {
    list-style-type: none;
}

.header-top {
    display: flex;
}

.header-title {
    font-size: 50px;
    font-weight: normal;
    line-height: 62px;
}

.discription {
    font-size: 18px;
}

.nav-list {
    display: flex;
}

.about_us-numbers {
    display: flex;
}

.team-list {
    display: flex;
}

.footer {
    display: flex;
}